*{
    margin: 0;
    padding: 0;
    
}

.main{
   color: #fff;
   height: auto;
   width: 270px;
}

.btn-calc {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
}

.buttonRed{
    background-color: red;
}



